*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  z-index: 1;
  background: #333;
}

.container {
  width: inherit;
  height: inherit;
  background: black;
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 15px;
  border-radius: 0 0 5% 5%;
  border: 3px solid gold;
  z-index: 10;
  overflow: hidden;
}

section {
  width: 100%;
}

.section-screen {
  height: 20vh;
  background: transparent;
  border-radius: 0 0 20px 20px;
  border: 1px solid #777789;
}

textarea {
  width: 100%;
  height: 80%;
  pointer-events: none;
  background: #55bb55;
  text-align: right;
  font-size: 3rem;
  font-weight: bold;
  resize: vertical;
  padding-top: 15px;
}


textarea.blink {
  animation: blink-state 2s linear infinite;
}

@keyframes blink-state {
  0%, 49.99% {
    z-index: 1000;
    color: #000;
  }
  50%, 100% {
    z-index: 0;
    color: #55bb55;
  }
}

textarea.inactive-state {
  background: #333;
  color: #333;
}

.calc-brand {
  color: yellow;
  font-style: italic;
  font-size: 1rem;
  text-shadow: 0 0 5px green;
  padding-left: 15px;
  height: 20%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.section-buttons {
  height: 78vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: transparent;
  position: relative;
 }

.row {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

button {
  width: 33%;
  height: 20px;
  margin: 4px;
  border: 3px solid  trasparent;
  border-radius: 10%;
  background: transparent;
  color: white;
  padding: 35px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: bold;
  border: 1px solid white;
  z-index: 1000;
}


 .activity button {
   background: #8788dd;
 }

.operators button {
  background: orangered;
  width: 20%;
}

.equals {
  position: absolute;
  background: transparent ;
  top: 100%;
  left: 100%;
  transform: translate(-105%, -105%);
  width: 30%;
  height: 60px;
  border: 1px solid white
}
 
 .dot {
   position: absolute;
   left: 50%;
   top: 100%;
   transform:translate(-50%, -100%);
   background: transparent;
   width: 50px;
   height: 50px;
   border-radius: 50%;
   border: 1px solid white;
 }

 .equals button, .dot button {
  border: none;
  width: 100%;
  height: 100%;
 }
 
 .equals button {
  background: transparent;
  margin: 0;
  padding: 35px 20px;
 }
 .dot button {
   border-radius: 50%;
   padding: 30px 30px;
   margin: 0;
   background: transparent;
 }
 
button:active {
  filter: brightness(120%);
  transform: scale(0.8);
  background: red;
}

/* Desktop version */
@media (min-width: 768px) {
  html {
    height: 100%;
  }

  body {
    width: 100%;
    height: 100%;
    background: linear-gradient(
      to right,
      #128855,
      #444499,
      #789999
    );
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .container {
   min-width: 500px;
   width: 50%;
   min-height: 400px;
   background: #000;
  }
  
  .section-screen {
    height: 20%;
  }
  
  .section-buttons {
    height: 78%;
    justify-content: flex-start;
  }
  
  .row {
    width: 80%;
    margin: 0px auto;
  }
  
  .row:first-child ~ .row {
    margin: 5px auto;
  }
  
  button {
    height: calc(400px / 7);
    padding: 0;
    margin: 0;
    padding: 0;
  }

  .operators button {
    width: 18%;
  }

  .equals {
  position: absolute;
  background: transparent ;
  top: 100%;
  left: 100%;
  transform: translate(-140%, -120%);
  width: 30%;
  width: 26%;
  height: calc(400px / 7);
  border: 1px solid white;
  border-radius: 10%;
}
 
 .dot {
   position: absolute;
   left: 50%;
   top: 100%;
   transform:translate(-50%, -120%);
   background: transparent;
   width: 50px;
   height: 50px;
   border-radius: 50%;
   border: 1px solid white;
 }

 .equals button, .dot button {
  border: none;
  width: 100%;
  height: 100%;
 }
 
 .equals button {
  background: transparent;
  margin: 0;
  padding: 35px 20px;
 }
 .dot button {
   border-radius: 50%;
   padding: 30px 30px;
   margin: 0;
   background: transparent;
 }

 button:active {
  filter: brightness(120%);
  transform: scale(0.8);
  background: red;
 }

  textarea {
    pointer-events: auto;
    font-size: 2rem;
  }

  textarea:focus {
    border: none;
  }
}